@media (min-width: 1286px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding-left: 100px;
    padding-right: 100px;
  }
  header img {
    width: 100px;
  }
  header nav a {
    padding-right: 32px;
    padding-left: 32px;
    font-size: 14px;
    color: #555248;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 770px;
    width: 1366px;
    padding-left: 100px;
    padding-right: 114px;
    background-image: url(../IMG/Ellipse_123.svg);
    background-repeat: no-repeat;
    background-position: 460px;
  }
  div.info {
    margin-top: 236px;
    color: #1B1A17;
  }
  div.info h1 {
    font: 400 45px/60px "Playfair_Display";
  }
  div.info h1 div {
    display: inline-block;
    border-bottom: 1px solid #8B8371;
    width: 50px;
    margin: 15px;
  }
  div.info h2 {
    margin: 16px 0 39px 80px;
    font: 400 30px/40px "Playfair_Display";
  }
  div.info p {
    margin-bottom: 64px;
    margin-left: 80px;
    width: 258px;
    font-size: 14px;
    line-height: 22px;
  }
  div.info form button {
    margin-left: 80px;
    width: 205px;
    height: 64px;
    font-size: 12px;
    background-color: #444240;
    color: #FFFFFF;
  }
  div.time {
    display: inline-block;
    background-image: url(../IMG/watch_main.png);
    background-repeat: no-repeat;
    background-position: 40px -10px;
    font: 400 16px/22px "Playfair_Display";
  }
  div.time h3.price {
    margin-top: 138px;
    margin-right: 500px;
    font-size: 16px;
  }
  div.time h3.price div {
    display: inline-block;
    border-bottom: 1px solid #8B8371;
    width: 50px;
    margin: 8px;
  }
  div.time h3.info_mm {
    margin-top: 520px;
    margin-left: 450px;
    font-size: 16px;
  }
  div.time h3.info_mm div {
    display: inline-block;
    border-bottom: 1px solid #8B8371;
    width: 50px;
    margin: 8px;
  }
  section.model {
    padding: 76px 98px 86px;
    width: 1366px;
  }
  section.model h2 {
    font: 400 32px/42px "Playfair_Display";
    text-align: center;
  }
  section.model p.text {
    margin-left: 1060px;
    padding-bottom: 12px;
    width: 105px;
    border-bottom: 1px solid #C4C0B6;
    font-size: 16px;
    font-weight: 500;
  }
  div.model {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  div.model div {
    padding-top: 37px;
    width: 370px;
    height: 470px;
  }
  div.model div h3 {
    font: 700 14px/25px "Playfair_Display";
    padding-left: 40px;
    text-align: left;
  }
  div.model div p.cent {
    font-size: 12px;
    font-family: "Playfair_Display";
    text-align: left;
    padding-left: 40px;
  }
  div.model div p.info_info {
    padding-left: 40px;
    text-align: left;
  }
  div.model div p.info_info img {
    padding: 6px 12px;
  }
  section.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1366px;
    height: 520px;
  }
  section.gallery div.baner_img {
    position: relative;
    margin: 0;
    width: 700px;
    height: 519px;
  }
  section.gallery div.baner_img img.baner1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 468px;
    height: 519px;
  }
  section.gallery div.baner_img img.photo {
    position: absolute;
    top: 52px;
    left: 117px;
    width: 521px;
    height: 414px;
  }
  section.gallery div.baner_img img.pagination {
    position: absolute;
    top: 486px;
    bottom: 12px;
    left: 550px;
    width: 63px;
    height: 12px;
  }
  div.text_1 {
    padding-top: 140px;
    padding-bottom: 136px;
    margin-left: 30px;
    width: 640px;
    height: 520px;
    background-image: url("../IMG/lines_banner.png");
    background-repeat: no-repeat;
    background-size: 900px 510px;
    background-position-x: -320px;
  }
  div.text_1 h2 {
    padding-bottom: 38px;
    font: 400 32px/44px "Playfair_Display";
  }
  div.text_1 p {
    margin-bottom: 45px;
    width: 376px;
    font-size: 16px;
    line-height: 24px;
  }
  div.text_1 form button {
    width: 205px;
    height: 64px;
    font-size: 12px;
    background-color: #D4B098;
    color: #FFFFFF;
  }
  section.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 90px;
    width: 1366px;
  }
  section.news div.social {
    width: 450px;
    height: 460px;
  }
  section.news div.social h2 {
    padding-top: 120px;
    padding-bottom: 40px;
    font: 400 32px/44px "Playfair_Display";
  }
  section.news div.social p {
    padding-bottom: 120px;
    width: 386px;
    font-size: 16px;
    line-height: 28px;
  }
  section.news div.social div {
    display: flex;
  }
  section.news div.social div img.twitter {
    padding-top: 2px;
  }
  section.news div.social div img {
    padding-right: 18px;
  }
  section.news div.painting {
    position: relative;
    width: 570px;
    height: 460px;
    margin: 0 auto;
  }
  section.news div.painting img.time1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 242px;
    height: 228px;
  }
  section.news div.painting img.time2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 242px;
    height: 222px;
  }
  section.news div.painting img.time3 {
    position: absolute;
    top: 0px;
    left: 252px;
    width: 377px;
    height: 460px;
  }
  footer {
    padding: 79px 180px 67px 180px;
    width: 1366px;
    height: 295px;
    background-color: #444240;
    color: #FFFFFF;
  }
  footer nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  footer nav div img {
    padding-bottom: 10px;
  }
  footer nav div p {
    font-size: 12px;
    padding-top: 15px;
  }
  footer nav div h3 {
    padding-top: 13px;
    padding-bottom: 33px;
    font-size: 14px;
  }
  footer nav div nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer nav div nav a {
    padding-bottom: 15px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7490196078);
  }
  body {
    width: 1366px;
  }
}/*# sourceMappingURL=min_width.css.map */